@import "../../assets/style/variables.scss";

.logements-container_infos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 15px auto;

  & .logements-container-infos_leftPart {
    & .logements-container-infos_title {
      font-size: 36px;
      font-weight: 500;
    }

    & .logements-container_location {
      font-size: 18px;
      font-weight: 500;
      margin-bottom: 15px;
    }
  }
  
  & .logements-container-infos_rightPart {
    display: flex;
    flex-direction: column;
    align-items: center;

    & .host-infos {
      display: flex;
      flex-direction: row;
      justify-content: right;
      width: 100%;
      align-items: center;
      margin-bottom: 15px;

      & .profil {
        object-fit: contain;
        width: 64px;
        height: 64px;
        border-radius: 50%;
      }

      & .logements-container_name {
        text-align: right;
        margin-right: 10px;
        max-width: 80px;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.logements-collapse {
  display: flex;
  justify-content: space-between;
  gap: 70px;

  & .logements-collapse_item {
    width: 50%;
  }

  & .collpase-container_title {
    font-size: 18px;
    font-weight: 500;
  }
}